*{
    padding: 0;
    margin: 0;
    color: #454545;
}
h1{
    width: 3%;
    position: relative;
    top: 60px;
    left: 92%;
    cursor: pointer;
}
h1:before{
    content: attr(data-count);
    position: absolute;color: #fff;
    right: 16px;
    font-size: 15px;
    text-align: center;
    top: -12px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    opacity: 0;
}
h1.zero:before{
    opacity: 1;
}
section{
    /* width: 90%; */
    display: flex;
    justify-content: space-around;
    padding: 2em;
}
section div{
    /* width: 22%;
    height: 93%; */
    background: #f5f5f5;
    padding: 1%;
    position: relative;
}
@keyframes first {
    top{
        width: 30px;
        height: 20px;
        left: 1290px;
        top: -70px;
    }
}
@keyframes second {
    top{
        width: 30px;
        height: 20px;
        left: 948px;
        top: -70px;
    }
}
@keyframes third {
    top{
        width: 30px;
        height: 20px;
        left: 606px;
        top: -70px;
    }
}
@keyframes four {
    top{
        width: 30px;
        height: 20px;
        left: 265px;
        top: -70px;
    }
}
section div:nth-child(1)>span.active{
    animation: first 0.5s ease-in;
    z-index: 2;
    display: block;
}
section div:nth-child(1)>span.active{
    animation: second .5s ease-in;
    z-index: 2;
    display: block;
}
section div:nth-child(1)>span.active{
    animation: third .5s ease-in;
    z-index: 2;
    display: block;
}
section div:nth-child(1)>span.active{
    animation: four .5s ease-in;
    z-index: 2;
    display: block;
}
img{
    width: 300px;
    height: 186px;
}
p{
    margin: 5px;
}
h6{
    width: 50px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}
button{
    padding: 5px;
    background: red;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fafafa;
    cursor: pointer;
}
section div span{
    position: absolute;
    top: 14px;
    left: 13px;
    background: red;
    width: 300px;
    height: 186;
    display: none;
}
section div span img{
    width: 100%;
    height: 100%;
}
.select{
    width: 60%;
    height: 580px;
    padding: 2em;
    background: #222;
    position: absolute;
    top: -1000px;
    left: 20%;
    overflow: auto;
    transition: .5s;
    overflow-y: auto;
    margin: auto;
}
.select.afficher{
    top: 10px;
}
.select div{
    width: 95%;
    height: 200px;
    display: flex;
    padding: 5px;
    border: 1px solid #fff;
    position: relative;
    margin: 5px auto;
}
.select div img{
    width: 300px;
    height: 100%;
}
.select div p{
    padding: 35px;
    color: #fff;
}
.select div h6,
.select div button {
    position: absolute;
    left: 45%;
    top: 50%;
    color: #fff;
}
.select div button {
    position: absolute;
    left: 60%;
    top: 55%;
}
.select div span {
    display: none;
}
.produit.active{
    /* display: none; */
}